* {
  box-sizing: border-box;
  font-family: Gotham Rounded;
  color: #212922;
}

@media only screen and (max-width: 600px) {
  body {
    background-image: url('images/pexels-felix-mittermeier-956999.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #212922;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
  }
}

@media screen and (max-width: 992px) {
  body {
    background-image: url('images/pexels-felix-mittermeier-956999.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    color: #212922;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-left: 20%;
    margin-right: 20%;
    height: 100%;
  }
}

.mainHeader {
  margin: auto;
  padding: 10px;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}

h1 {
  font-size: 2rem;
  color: white;
}

.upperContainer {
  display: flex;
  flex-direction: row;
  height: 70%;
  width: 70%;
  align-content: center;
}

.newBookmark {
  margin: 5px 5px 5px 5px;
}

body {
  background-image: url('images/pexels-felix-mittermeier-956999.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: #212922;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin-left: 20%;
  margin-right: 20%;
  height: 100%;
}

.Filter {
  width: auto;
  height: auto;
  margin-top: 10px;
  margin-right: 5px;
  margin-left: 5px;
}

.bookmarks { 
  background-color: white;
  width: auto;
  
  
  
  height: auto;

  
  border-style: groove;
  border-width: 5px;    
}

h2, a, p, li, fieldset, input, button, select, option, label {
  font-size: 18px;
}

.js-bookmark-element a{
  margin-bottom: 10px;
}




ul, ul .expanded {
  width: 300px;
  list-style-type: none;
}

li:hover {
  border: 1px solid black;
  cursor: pointer;
}

ul .expanded {
  height: auto;
  width: auto;
}

button {
    color: #20494d;	
    padding: 15px 25px;
    display: inline-block;
    border: 1px solid rgba(0,0,0,0.21);
    border-bottom-color: rgba(0,0,0,0.34);
    text-shadow:0 1px 0 rgba(0,0,0,0.15);
    box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
                0 2px 0 -1px rgba(0,0,0,0.13), 
                0 3px 0 -1px rgba(0,0,0,0.08), 
                0 3px 13px -1px rgba(0,0,0,0.21);
  }
button:hover {
  background-color:#20494d;
  color: white;
}
button:active {
  position:relative;
  top:1px;
}

.buttonDel {
margin-top: 0.5rem;
margin-bottom: 1rem;
}

a {
margin-left: auto;
margin-right: auto;
}

button {
color: #20494d;	
padding: 15px 25px;
display: inline-block;
border: 1px solid rgba(0,0,0,0.21);
border-bottom-color: rgba(0,0,0,0.34);
text-shadow:0 1px 0 rgba(0,0,0,0.15);
box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
            0 2px 0 -1px rgba(0,0,0,0.13), 
            0 3px 0 -1px rgba(0,0,0,0.08), 
            0 3px 13px -1px rgba(0,0,0,0.21);
}


.modal {
display: none;
position: fixed; 
z-index: 1; 
padding-top: 100px; 
left: 0;
height: 100%; 
overflow: auto; 
top: 0;
width: 100%; 

background-color: rgb(0,0,0); 
background-color: rgba(0,0,0,0.4); 
}

/* Modal Content */
.modal-content {
background-color: #fefefe;
margin: auto;
padding: 20px;
border: 1px solid #888;
width: 80%;
}

/* Close Button */
.close {
float: right;
font-size: 28px;
color: #aaaaa2;
font-weight: bold;
}

.close:hover,
.close:focus {
color: #000;
text-decoration: none;
cursor: pointer;
}


/* button styles for bookmarked items */

.btn-bookmark {
color: black;	
padding: 15px 25px;
display: inline-block;
border: 1px solid rgba(0,0,0,0.21);
border-bottom-color: rgba(0,0,0,0.34);
text-shadow:0 1px 0 rgba(0,0,0,0.15);
box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
            0 2px 0 -1px rgba(0,0,0,0.13), 
            0 3px 0 -1px rgba(0,0,0,0.08), 
            0 3px 13px -1px rgba(0,0,0,0.21);
}
.btn-bookmark:active {
top: 1px;
color: black;
border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
box-shadow: 0 1px 0 rgba(255,255,255,0.89),0 1px rgba(0,0,0,0.05) inset;
position: relative;
}

.labels{
  color:white;
}